@import 'settings';
@import 'foundation-emails';

// @import 'template/template';


p.view-online {
    background: $body-background;
    color: #999999;
    font-size: 11px;
    text-align: center;
    margin-bottom: 5px;
}

.view-online a {
    font-weight: normal;
    text-decoration: underline;
    color: #999999;
}

td {
    hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
}

a, a:visited, a:hover {
    text-decoration: underline;
    font-weight: normal;
    color: #005587;
}

table.button table td a {
    letter-spacing: 1px;
    text-align: center;
}

.footer {
    background: #4a4f55;
}

.footer p {
    color: #ffffff;
    font-size: 10px;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: normal;
}

.unsubscribe {
    background: $body-background;
}

.unsubscribe p {
    font-size: 10px;
}

.preview-subject {
    font-family: monospace;
    border: 2px dashed orange;
    padding: 10px;
    background: #ffffff;
}

.unsubscribe a {
    color: #000000;
    font-weight: normal;
}

.signature img {
    max-width: 200px;
}

.showit {
    background: #e5e5e5;
}

.social-media {
    background: $body-background;
}

.social-media img {
    display: inline;
    width: 32px;
    height: 32px;
    margin: 0 2px;
}

// <br class="hide-hardbreak">

.vsl-logo {
    max-width: 300px;
}

table.button table td {
    text-align: center !important;
}

.no-bottom-padding {
    padding-bottom: 0 !important;
}

.top-text {
    font-size: 12px;
}

.ruleline {
    width: 100%;
    height: 1px;
}

h1 {
    text-align: center;
    color: #005587;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 16px;
    line-height: 22px;
    color: #005587;
    text-align: center;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}

p.smaller {
    font-size: 14px;
}

sup {
    font-size: 10px;
    line-height: 12px;
    display: inline-block;
    margin-left: 3px;
    font-weight: normal;
}

.logos {
    width: 200px !important;
}

//.product-name {
//    white-space: nowrap;
//}

@media only screen and (max-width: 616px) {
    .social-media img {
        width: 42px !important;
        height: 42px !important;
        margin: 0 5px;
    }
    .large-float-right {
        display: inline;
        float: right;
    }
    .hide-hardbreak {
        display: none;
    }
    .three-col-logo {
        width: 160px !important;
    }
    .ruleline {
        width: 100% !important;
        height: 1px !important;
    }
    .logos {
        width: 200px !important;
    }
    .vsl-logo {
        max-width: 154px;
    }
    .rep-photo {
        width: 96px !important;
    }
}